@model HelloGroup2.Controllers.MathResult

<h1>Kết quả phép cộng</h1>
<p>
    @Model.Message
</p>
<a class="btn btn-success" asp-action="Index" asp-controller="Math">
    <i class="fa-solid fa-arrow-left"></i> Quay lại</a>
