<h1>Một số phép toán cơ bản</h1>
<form asp-action="Add" method="get">
    <div class="row">
        <div class="col-3">
            <label>a</label>
        </div>
        <div class="col-9">
            <input type="text" name="a" placeholder="Nhập a" />
        </div>

        <div class="col-3">
            <label>b</label>
        </div>
        <div class="col-9">
            <input type="text" name="b" placeholder="Nhập b" />
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-success">Tổng</button>
        </div>
        <div class="col-12">

        </div>
    </div>
</form>