@model QLSPNhom2.ViewModel.CategoryViewModel
<h1>Danh sách Danh mục Sản phẩm</h1>
<div class="d-flex justify-content-end">
    <button data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Thêm mới</button>
</div>
<form asp-controller="Category" asp-action="Index" method="post">
    <div class="d-flex mt-3 mb-3">
        <input name="keyWord" class="flex-grow-1 me-1 form-control" type="text" placeholder="Nhập từ khóa cần tìm" />
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</button>
    </div>
</form>
<partial name="_List" model="@Model" />
<partial name="_Create" model="@Model" />
@if (Model.Categories!=null){
    foreach(var cat in Model.Categories)
    {
        Model.Response = cat;
        <partial name="_Update" model="@Model" />
        <partial name="_Delete" model="@Model" />
    }
}