@using QLSPNhom2.ViewModel
@model CategoryViewModel
<h1>Chỉnh sửa thông tin danh mục sản phẩm</h1>
<form asp-action="Update" asp-controller="Category" method="post">
    <div class="mb-3">
        <label class="form-label">Tên danh mục<span class="text-danger">*</span></label>
        <input asp-for="Request.Name" value="@Model.Response.Name" required class="form-control" type="text" placeholder="Nhập tên danh mục" />
    </div>
    <div>
        <a class="btn btn-secondary me-3" asp-action="Index" asp-controller="Category">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </a>
        <input type="hidden" asp-for="Request.Id" value="@Model.Response.Id" />
        <button class="btn btn-success" type="submit">
            <i class="fa-solid fa-check"></i> Đồng ý
        </button>
    </div>
</form>